body {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin: 100px auto;
    background: #5DA9E9;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
    color: #E5F4E3;
}

a:visited {
    color: #E5F4E3;
}

p,
label {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

div {
    font-weight: 300;
    margin: 10px;
}